@import "tailwindcss";
@font-face {
  font-display: swap; 
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../src/assets/fonts/plus-jakarta-sans-v11-latin-regular.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../src/assets/fonts/plus-jakarta-sans-v11-latin-500.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../src/assets/fonts/plus-jakarta-sans-v11-latin-600.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../src/assets/fonts/plus-jakarta-sans-v11-latin-700.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../src/assets/fonts/plus-jakarta-sans-v11-latin-800.woff2') format('woff2'); 
}

body{
    font-family:'Plus Jakarta Sans', sans-serif ;
    overflow: hidden;
}

.login-div1{
    background-image: url("./assets/images/login-bg-img1.png");
    background-repeat: no-repeat;
    background-position:  right center;
    background-size: cover;
    min-height: 100vh;
}

.login-div2{
    background: linear-gradient(159.02deg, #0F123B 14.25%, #090D2E 56.45%, #020515 86.14%);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    min-height: 100vh;
}

.login-input{
    background: linear-gradient(117.45deg, rgba(255, 255, 255, 0) -3.91%, rgba(255, 255, 255, 0.039) 75.27%);
 border: 2px solid;

border-image-source: radial-gradient(69.43% 69.43% at 50% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
radial-gradient(60% 51.57% at 50% 50%, #582CFF 0%, rgba(88, 44, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
radial-gradient(54.8% 53% at 50% 50%, #151515 0%, rgba(21, 21, 21, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

backdrop-filter: blur(42px)

}

.register-wrapper{
  border: 2px solid;
  border-image-source: radial-gradient(69.43% 69.43% at 49.45% 50%, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background: linear-gradient(123.64deg, rgba(255, 255, 255, 0) -22.71%, rgba(255, 255, 255, 0.039) 70.04%);
  backdrop-filter: blur(42px);
  border-radius:  30px;
}


button.active .circle {
  transform: translateX(18px);
}


.navbar{
  background: linear-gradient(111.84deg, rgba(6, 11, 38, 0.94) 59.3%, rgba(26, 31, 55, 0) 100%);
}

.active{
 background-color: #1A1F37;
}
.active .icon-wrapper {
  background-color: #0075FF;
  color: white;
}
.navbar-span{
    background-image: linear-gradient(90deg, rgba(224, 225, 226, 0) 0%, #E0E1E2 49.52%, rgba(224, 225, 226, 0.15625) 99.04%);
}

.home-nav-wrapper{
    backdrop-filter: blur(272px);
    background-image: url("./assets/images/navbar-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


.money-list-wrapper{
  background: linear-gradient(126.97deg, rgba(6, 11, 38, 0.74) 28.26%, rgba(26, 31, 55, 0.5) 91.2%);
  backdrop-filter: blur(120px)
}

.footer{
  background: linear-gradient(90deg, #02133f 0%, #0073ff 100%);
 
  position: fixed;
  right: 0;
  bottom: 0;
  width: 80%;
  z-index: 100;
}

.authors-table{
background: linear-gradient(126.97deg, rgba(6, 11, 40, 0.74) 28.26%, rgba(10, 14, 35, 0.71) 91.2%);
backdrop-filter: blur(120px)

}

.documentation{
background-image: url("./assets/images/NavbarImgDocumentation.png");
background-repeat: no-repeat;
background-size: cover;
}

.documentation-btn{
background: linear-gradient(126.97deg, rgba(6, 11, 40, 0.74) 28.26%, rgba(10, 14, 35, 0.71) 91.2%);

}